@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=K2D:wght@100;200;300;400;500;600;700;800&family=Khula:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root
.app{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}